<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotQuiteAzure" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iagken.azurewebsites.net/NotQuiteAzure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotQuiteAzure"
                contract="INotQuiteAzure" name="BasicHttpBinding_INotQuiteAzure" />
        </client>
    </system.serviceModel>
</configuration>